h1{
    background:#60a738;
    font-size: 150%;
}
header{
    text-align: center;
    background: #f03e3e;
}
h1{
    color:#1359b4
}
nav{
    font-variant: small-caps;
    font-family: arial,"Time New Roman",serif;
    font-size: 150%;
}
h2{
    background:#34b9b3;
    font-size: 150%;
}