{% include "main_menu.html" %}

    <div class="container">
         <h1 class="display-2 text-center">Welcome to the Sayem's List</h1>
    <p class="display-2 text-center">
    Here are some projects (Each will open in a new tab):
   <ul class="list-group">
<li class="list-group-item"><p><a class="list-group-item list-group-item-action" href="polls/" target="_blank">Polls Application</a></p></li>
<li class="list-group-item"><p><a class="list-group-item list-group-item-action" href="ads/" target="_blank">Ads Application</a></p></li>
<li class="list-group-item"><p><a class="list-group-item list-group-item-action" href="hello/" target="_blank">Hello(session) Application</a></p></li>
<li class="list-group-item"><p><a class="list-group-item list-group-item-action" href="cats/" target="_blank">Cats Application</a></p></li>
<li class="list-group-item"><p><a class="list-group-item list-group-item-action" href="autos/" target="_blank">Autos Application</a></p></li>

</ul>


<p>
You can play with this code at
<a href="https://github.com/saayeeem/django_project" target="_blank">https://github.com/saayeeem/django_project</a>.

You
might need an account and password to log in for certain features.  You might try this:
<pre>
Username: user
Password: user_nn_!
</pre>
There is a part of this password that you need to guess.
Hints: nn = The Ultimate Number

</p>

</div>

